
# файл из img.test.local
RewriteEngine On
RewriteRule ^([a-z])([0-9]+).jpg$ goods/$1/$2.jpg


<Files ~ ".(php)$">
Deny from all
</Files>

ErrorDocument 404 http://img.test.local/404.html




